 .u-section-1 {
  background-color:rgb(177,211,255) 
 }

.u-section-1 .u-sheet-1 {
  min-height: 820px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 123px 534px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.8;
  margin: 18px 601px 60px 6px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 334px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 407px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 114px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 187px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 781px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 73px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 41px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 470px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 210px;
  width: 210px;
  background-image: url("images/Agriculture.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.27778rem;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 32px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 210px;
  width: 210px;
  background-image: url("images/depositphotos_152402960-stock-illustration-farm-field-landscape-3d-vector.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.27778rem;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 32px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 210px;
  width: 210px;
  background-image: url("images/download.jfif");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.27778rem;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 32px 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  height: 210px;
  width: 210px;
  background-image: url("images/8449df97f30a5a190a9e652573e26dab41b8fd5fb8e36f02923f57c688335e03dfb678ae62d63b5e9ac36d5e45c102366171c1f05b4818ad9792f8_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  font-size: 1.27778rem;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 32px 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 388px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 188px;
    width: 188px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 188px;
    width: 188px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 188px;
    width: 188px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }

  .u-section-2 .u-text-7 {
    width: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-4 {
    height: 188px;
    width: 188px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
  }

  .u-section-2 .u-text-9 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1184px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 891px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 914px;
}

.u-section-3 .u-group-1 {
  width: 622px;
  min-height: 747px;
  height: auto;
  margin: 60px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.8;
  font-weight: 700;
  margin: 35px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2.2;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 35px auto 0 0;
  padding: 10px 31px 10px 30px;
}

.u-section-3 .u-list-1 {
  width: 505px;
  margin: -766px 0 41px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 784px;
  grid-gap: 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-icon-1 {
  height: 33px;
  width: 33px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 13px 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 13px 92px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-3 .u-icon-2 {
  height: 33px;
  width: 33px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  margin: 13px 0 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 13px 92px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-3 .u-icon-3 {
  height: 33px;
  width: 33px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-8 {
  margin: 13px 0 0;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  margin: 13px 92px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1004px;
  }

  .u-section-3 .u-group-1 {
    width: 454px;
    min-height: 864px;
    height: auto;
  }

  .u-section-3 .u-list-1 {
    width: 458px;
    margin-top: -824px;
    margin-bottom: 100px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1541px;
  }

  .u-section-3 .u-group-1 {
    min-height: 709px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-list-1 {
    margin-top: 20px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 692px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 798px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 678px;
}

.u-section-4 .u-container-layout-1 {
  padding: 23px 30px;
}

.u-section-4 .u-image-1 {
  height: 616px;
  margin-top: 16px;
  margin-bottom: -7px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 678px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-line-1 {
  width: 456px;
  margin: 30px 0 0 auto;
}

.u-section-4 .u-text-3 {
  margin: 60px 0 0 auto;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-line-2 {
  width: 456px;
  margin: 30px 0 0 auto;
}

.u-section-4 .u-text-5 {
  font-style: italic;
  margin: 20px 0 0 auto;
}

.u-section-4 .u-btn-1 {
  font-style: italic;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 578px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-1 {
    height: 495px;
    margin-top: -340px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 559px;
  }

  .u-section-4 .u-line-1 {
    width: 410px;
  }

  .u-section-4 .u-line-2 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 428px;
  }

  .u-section-4 .u-image-1 {
    height: 362px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-line-1 {
    width: 300px;
  }

  .u-section-4 .u-line-2 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 642px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 627px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 404px;
  }

  .u-section-4 .u-image-1 {
    height: 386px;
    margin-top: -373px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 929px;
}

.u-section-5 .u-shape-1 {
  height: 519px;
  background-image: none;
  width: 553px;
  margin: 60px 0 0 auto;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: -748px auto -169px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 809px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 61px 60px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.8;
  font-weight: 700;
  margin: 35px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2.2;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 809px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-image-1 {
  height: 647px;
  margin: 0 30px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 843px;
  }

  .u-section-5 .u-shape-1 {
    height: 400px;
    width: 445px;
    margin-top: 55px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -630px;
    margin-bottom: -174px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 667px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 667px;
  }

  .u-section-5 .u-image-1 {
    height: 533px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1409px;
  }

  .u-section-5 .u-shape-1 {
    width: 592px;
    margin-top: 920px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -1265px;
    margin-bottom: 55px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 697px;
  }

  .u-section-5 .u-image-1 {
    height: 548px;
    width: 583px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1043px;
  }

  .u-section-5 .u-shape-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 660px;
  }

  .u-section-5 .u-image-1 {
    height: 507px;
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1415px;
  }

  .u-section-5 .u-shape-1 {
    height: 269px;
    width: calc(((100% - 340px) / 2) + 280px);
    margin-top: 55px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1280px;
    margin-bottom: -956px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-5 .u-image-1 {
    height: 319px;
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 615px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-image-1 {
  min-height: 526px;
  background-image: url("images/download.jfif");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 572px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 30px 30px 50px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 25px 217px 0 0;
}

.u-section-6 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 20px 217px 0 0;
}

.u-section-6 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 217px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-6 .u-image-1 {
    min-height: 434px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 472px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 117px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 117px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 117px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-6 .u-image-1 {
    min-height: 332px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 27px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 27px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-6 .u-image-1 {
    min-height: 498px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-6 .u-image-1 {
    min-height: 384px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/fgfgfg-min.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 760px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-7 .u-image-1 {
  min-height: 640px;
  background-image: url("images/137cf549-2264-0d06-7dbf-32fdc057e668.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 30px 60px;
}

.u-section-7 .u-form-1 {
  margin: 0;
}

.u-section-7 .u-label-1 {
  font-weight: 700;
}

.u-section-7 .u-label-2 {
  font-weight: 700;
}

.u-section-7 .u-form-group-3 {
  margin-left: 0;
}

.u-section-7 .u-label-3 {
  font-weight: 700;
}

.u-section-7 .u-label-4 {
  font-weight: 700;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-7 .u-image-1 {
    min-height: 588px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-7 .u-form-1 {
    height: 478px;
    width: 426px;
    margin-top: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-7 .u-image-1 {
    min-height: 404px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-7 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-7 .u-image-1 {
    min-height: 303px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-7 .u-image-1 {
    min-height: 191px;
  }
}